
.visit-header{padding:12px 0;display:none;}
.visit-title{text-align:center;font-size:24px;color:#1F6FB5;font-weight:400;margin:0 15%;}
.color-class-1{color:#A72851;}
.color-class-2{color:#061968;}
.tuli{margin-bottom:35px;}
.tuli div{display:inline;float:left;}
.tl{width:20px;height:10px;margin:2px 5px 0 10px;display:inline;float:left;border-radius:3px;}
.tl-h{margin-left:0px;margin-right:0px;}
.tl-h1{margin-left:35px;}
.tuli1{background:#A72851;}
.tuli2{background:#061968;}
.tuli_word{font-size:12px;}
.tuli-top{margin-top:20px;}